<div class="container survey-box">
<h1>Perguntas Cadastradas</h1>

<div class="mb-3 d-flex justify-content-between">
  <div>
    <%= link_to "Nova Importação CSV", new_import_questions_path, class: "btn btn-sucess-geg" %>
    <%= link_to "Exportar CSV", export_csv_questions_path, class: "btn btn-sucess-geg" %>
  </div>

  <%= button_to "Excluir TODAS as perguntas", destroy_all_questions_path, method: :delete, data: { confirm: "Tem certeza que deseja apagar TODAS as perguntas?" }, class: "btn btn-danger" %>
</div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Categoria</th>
      <th>Etapa</th>
      <th>Texto</th>
      <th>Tipo de Resposta</th>
      <th>Opções</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question_type.humanize %></td>
        <td><%= category_name_for(question) %></td>
        <td><%= question.stage %></td>
        <td><%= question.text %></td>
        <td><%= question.response_type %></td>
        <td><%= question.options.join(", ") %></td>
        <td class="align-middle">
          <div class="d-flex justify-content-between gap-2">
            <%= link_to "Editar", edit_question_path(question), class: "btn btn-sucess-geg" %>
            <%= link_to "Excluir", question_path(question), method: :delete, data: { confirm: "Deseja excluir esta pergunta?", turbo: true }, class: "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
