<div class="container">
  <h2>Pesquisas</h2>
  <table class="table table-striped table-responsive border rounded-2">
    <thead>
      <tr>
        <th>ID</th>
        <th>Código da Pesquisa</th>
        <th>Nome</th>
        <th>Data de Criação</th>
        <th>Respostas</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @surveys.each do |survey| %>
        <tr>
          <td><%= survey.id %></td>
          <td><%= survey.code %></td>
          <td><%= nome_por_codigo(survey.code) %></td>
          <td><%= survey.created_at.strftime('%d/%m/%Y') %></td>
          <td>
            <%= survey.answers.present? ? "#{survey.answers.count} resposta(s)" : "Nenhuma resposta" %>
          </td>
          <td>
            <div class="d-flex gap-2">
              <%= link_to 'Ver Detalhes', survey_path(survey), class: 'btn btn-sucess-geg' %>
                  <%= button_to 'Deletar Pesquisa', survey_path(survey),
            method: :delete,
            data: { turbo_confirm: 'Tem certeza que deseja deletar esta pesquisa?' },
            class: 'btn btn-danger rounded-2' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-around">
    <%= button_to 'Deletar Todas as Pesquisas', destroy_all_surveys_path,
      method: :delete,
      data: { turbo_confirm: 'Tem certeza que deseja deletar todas as pesquisas?' },
      class: 'btn btn-danger rounded-2' %>
    <%= link_to 'Voltar', root_path, class: 'btn btn-sucess-geg' %>
  </div>
</div>
