<div class="container survey-box">
  <h1>Respostas da Pesquisa</h1>

  <p><strong>Código da Pesquisa:</strong> <%= @survey.code %></p>

  <% @survey.answers.group_by { |answer| answer.question.category_id }.sort.each do |category_id, answers| %>
    <div class="mb-4">
      <h3 class="category-title">
        <%= "#{category_id} - #{category_name_by_id(category_id)}" %>
      </h3>

      <ul class="list-group">
        <% answers.each_with_index do |answer, index| %>
          <li class="list-group-item">
            <strong><%= "#{answer.question.category_id}.#{answer.question.stage} - #{answer.question.text}" %></strong><br>

            <% if answer.question.response_type == 'radio' && answer.question.options.any? %>
              <% if answer.response.present? %>
                <% option_index = answer.question.options.index(answer.response) %>
                <% if option_index %>
                  <span><strong>Resposta:</strong> <%= answer.response.to_s.gsub(/[\[\]\"]/, '').presence || "Não respondida" %></span>>
                <% else %>
                  <span><strong>Resposta:</strong> <%= answer.response.to_s.gsub(/[\[\]\"]/, '').presence || "Não respondida" %></span>
                <% end %>
              <% else %>
                <span>Não respondida</span>
              <% end %>
            <% else %>
              <span><strong>Resposta:</strong> <%= answer.response.to_s.gsub(/[\[\]\"]/, '').presence || "Não respondida" %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to 'Voltar para o início', root_path, class: 'btn btn-secondary mt-4' %>
</div>
